@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-color: #0275d8;
$accent-color: #f18200;
$focus-color: #0E4F8B;
$success-color: #0A7171;
$success2-color: #0ca584;
$frames-color: #252831;
$dialog-color: #222222;
$star-color: $primary-color;

body,
td,
th,
p {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

input, textarea, select, button {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #e9a932;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: $frames-color;
  color: #eaeaea;
  font-size: 0.875rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Utils ====================== */
#toggle-favorite-button {
  padding: 10px;
  border: none;
  margin: 1rem;
  cursor: pointer;
  background-color: $primary-color;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;

  
  &:hover, &focus {
    background-color: $focus-color;
  }
  &.active {
    background-color: $success-color;
    &:hover, &focus {
      background-color: $focus-color;
    }
  }
  &[disabled] {
    background-color: $frames-color;
    cursor: not-allowed;
  }

}

.star {
  color: $star-color;
  font-size: 1.5rem;
}

.tar {
  text-align: right;
}

.connection-warning-dialog {
  z-index: 10000;
  position: fixed;
  background: $dialog-color;
  color: white;
  padding: 25px; // font-size: 0.875rem;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(150%);
  transition: transform 0.250s ease-out;
  max-width: 100%;
  text-align: center;
  &.active {
    transform: none;
  }

}

#network-off-dialog-dismiss{
  cursor: pointer;
}

/* ====================== Navigation ====================== */

*:focus {
  outline: 2px solid $accent-color;
}

nav {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: $frames-color;
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  display: block;
  width: 100%;
  height: auto;
  text-align: left;
  overflow: hidden;
}

#breadcrumb>ol {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 1rem;
  margin: 0;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  font-weight: 500;
  color: $focus-color;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

#breadcrumb li:last-child>a {
  color: #222;
  font-weight: bold;
  text-decoration: none;
}

.skip-link {
  position: absolute;
  top: -9999px;
  background-color: $frames-color;
  color: white;
}

.skip-link:focus {
  top: 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  background-color: $frames-color;
  align-items: center;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1rem;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

.filter-options select:focus {
  outline: 3px solid $accent-color;
}

@media screen and (min-width: 620px) {
  .filter-options {
    flex-direction: row;
  }
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 15px;
  text-align: left;
  width: 100%;
  padding: 20px;
  transition: all 0.2s ease-out;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

#restaurants-list li h3 {
  color: $primary-color;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
}

#restaurants-list p {
  margin: 0;
  font-size: 1rem;
}

#restaurants-list li a {
  background-color: $primary-color;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 580px) {
  #restaurants-list li {
    /* 2 columns */
    width: calc((100% - 30px - (40px + 4px + 30px) * 2) / 2);
  }
}

@media screen and (min-width: 1040px) {
  #restaurants-list li {
    /* 4 columns */
    width: calc((100% - 30px - (40px + 4px + 30px) * 4) / 4);
  }
}

@media screen and (min-width: 1440px) {
  #restaurants-list li {
    width: 350px;
  }
}

/* ====================== Restaurant Details ====================== */

.inside header {
  z-index: 1000;
  width: 100%;
  top: 0;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 85vmin;
  position: relative;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
}

.form-group {
  margin: 1rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  input,
  select {
    padding: 10px;
  }
}

#new-review-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  label {
    margin: 5px;
    font-weight: bold;
  }
}

#review-success-container {
  padding: 0 10px;
}

.reviews-comment {
  padding: 15px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  width: 90% !important;
  min-height: 150px;
}

.reviews-submit {
  width: 100%;
  background-color: $primary-color;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 15px 10px;
  text-align: center;
  text-decoration: none;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $focus-color;
    outline: none;
  }
}

#restaurant-name {
  color: $primary-color;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  font-size: 1rem;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container {
  border-top: 1px solid #fff;
  padding: 30px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#reviews-container {
  margin: 20px auto;
  padding: 30px 40px;
}

#reviews-container h3 {
  color: $primary-color;
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 30px auto;
  overflow: hidden;
  padding: 20px 20px;
  position: relative;
}

#reviews-list li p {
  margin: 0 0 10px;
  &.comment {
    padding: 0 15px;
  }
  &.username {
    font-size: 1.05rem;
    font-weight: bold;
  }
}

#restaurant-hours {
  margin: 0 auto;
}

#restaurant-hours td {
  margin: 0 auto;
  text-align: left;
  color: #666;
}

@media screen and (min-width: 680px) {
  .inside #maincontent {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .reviews-submit {
    width: 33%;
    max-width: 250px;
    height: 50px;
  }
  #restaurant-img {
    width: 100%;
  }
  .inside #restaurant-container {
    order: 0;
    width: calc((100% - 80px) / 2.5);
  }
  .inside #map-container {
    order: 1;
    height: 90vmin;
    margin: auto 0;
    width: calc((100% - 80px) / 1.7);
  }
  .inside #reviews-container {
    max-width: 60%;
    order: 2;
  }
}

@media screen and (min-width: 1040px) {
  .connection-warning-dialog {
    padding: 25px;
    bottom: 20px;
    right: 20px;
    left: initial;
    max-width: 20%;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .inside #maincontent {
    margin: 0 10%;
  }
  #breadcrumb>ol {
    display: inline-block;
    width: 100%;
    padding: 10px 15%;
  }
}

#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background-color: $focus-color;
  outline: $accent-color;
}
